.screen {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
#header {
  width: 100%;
  height: 70px;
  border-bottom: 1px solid gray;
  padding: 10px;
  background-color: #282c34;
  color: white;
}
.header > h1 {
  color: #1e90ff;
}
.content {
  width: 100%;
  align-items: center;
}
.authBlock {
  width: 500px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  align-items: center;
}

.authBlock > h2 {
  color: #1e90ff;
}
.validBlock {
  display: flex;
  flex-direction: row;
}
/* BOTTOM Email================================= */
.group {
  position: relative;
  margin-bottom: 15px;
  margin-top: 15px;
}

input {
  font-size: 16px;
  padding: 10px;
  display: block;
  width: 250px;
  border: none;
  border-bottom: 1px solid #999;
}
input:focus {
  outline: none;
}
/* LABEL ======================================= */
label {
  color: #999;
  font-size: 18px;
  position: absolute;
  pointer-events: none;
  left: 10px;
  top: 15px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

/* active state */
input:focus ~ label,
input:valid ~ label {
  top: -15px;
  font-size: 14px;
  color: #999;
}

/* BOTTOM BARS ================================= */
.bar {
  position: relative;
  display: block;
  width: 250px;
}
.bar:before,
.bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 0;
  position: absolute;
  background: #1e90ff;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.bar:before {
  left: 50%;
}
.bar:after {
  right: 50%;
}

/* active state */
input:focus ~ .bar:before,
input:focus ~ .bar:after {
  width: 50%;
}

.pafEmail {
  margin-top: 10px;
  font-size: 13px;
  max-width: 230px;
  color: #999;
  margin-left: 5px;
}
/* BOTTOM  END================================= */

.authButton {
  padding: 5px;
  width: 50%;
  background-color: #1e90ff;
  border-radius: 5px;
  color: white;
}

.authButton:active {
  background-color: #197adb;
}

.checkIcon {
  width: 12px;
  height: 12px;
  margin-left: 5px;
  fill: #32cd32;
}
